{% from 'components/field.html' import render_field %}
{% extends "layouts/main.html" %}

{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% if current_user.is_authenticated and current_user == creator %}
        <form method="POST" action="{{ request.url }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% trans %}Edit Recipe{% endtrans %}
                    </h3>
                </div>
				<div class="panel-body">
                    {{ form.csrf_token }}
					{{ render_field(form.name) }}
                    {{ render_field(form.description) }}
                </div>
                <div class="panel-footer">
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					   <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>{% trans %}Update{% endtrans %}
                    </button>
                    <a class="btn btn-default" href = '{{url_for('recipes.showRecipe',category_id=category_id)}}'>
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>{% trans %}Cancel{% endtrans %}
                    </a>
                </div>
            </div>
        </form>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}