{% macro google_login_button() %}
<!-- GOOGLE PLUS SIGN IN-->
  <span class="g-signin"
            data-scope="openid email profile"
            data-clientid="120949410815-5b3sdbiht1rraoo7kq2kn2ke2aam3qv3.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
   </span>
<!--END GOOGLE PLUS SIGN IN -->
{% endmacro %}
{% macro google_login_script() %}
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        $.ajax({
            type: 'POST',
            url: '/oauth',
            processData: false,
            data: result,
            contentType: 'application/octet-stream; charset=utf-8'
        });
        window.location.href = "/";
      }
    });
  }
}
</script>
{% endmacro %}